body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

#player {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    transition: top left ease-in-out .5s;
}

#obsticle {
    width: 200px;
    height: 200px;
    background-color: blue;
    top: 100px;
    position: relative;
    justify-self: center;
    align-self: center;
}